# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual Environment
env/
venv/
ENV/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
local_settings.py

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
